<!--
<div class="container" style="margin:20px 20px 20px 20px ;">

  <div class="row">
      <div class="col-lg-6">
          <h1>Diccionario</h1> 
          <textarea class="form-control" id="Textarea1" rows="6"></textarea>
      </div>
      <div class="col-lg-6">
          <h1>Solucion</h1> 
          <textarea class="form-control" id="Textarea2" rows="6"></textarea>   
      </div>
  </div>
  
  <div class="row">
      <div class="col-lg-6">
         <br> <button class="btn btn-primary" (click)="fnEjecutar()">Ejecutar</button>
      </div>
      
  </div>
  
 

</div>
-->
<app-diccionario></app-diccionario>